<div class="container">
  <div class="item">
    <div class="home">
      <h2 class="title">ABOUT THIS PROJECT</h2>
      <p class="subtitle">Building a Social Network</p>
      
      <div class="content-text">
        <p class="paragraph">
          This is a project created in the Ruby on Rails Curriculum at the <a href="https://www.microverse.org/?grsf=mkdwdj">Microverse's Full-Time program</a> and And its use is only for educational purposes.
        </p>
        
        <p class="paragraph">
          We used knowledge about databases, object-oriented programming, Ruby on Rails and other technologies and methodologies. The goal of this project was to create a social network in which this knowledge will be used.
        </p>
        
        <p class="paragraph">
          For more information you can check the source code on <a href="https://github.com/gagc056/facebook-clone"> Github</a>
        </p>
        
        <p class="paragraph">
          Developed and designed by <a href="https://github.com/gagc056">Gastón Costa</a>  and <a href="https://github.com/SantiagoGuerra"> Santiago Guerra </a>
        </p>

        <h2 class="subtitle dark">How can I user it?</h2>

        <p class="paragraph">
          To use it is very simple, you can <a href="/users/sign_up"> register </a> (With Facebook or Email) or use this existing user:
         <p class="password-text"> Email: cristiano@gmail.com </p>
         <p class="password-text"> Password: 12345678</p>
         <div class="paragraph"></div>
        </p>
      </div>
      
    </div>
  </div>
</div>



