
<h3>
  You have <%= pluralize(@friendship_request.count, 'notification') %>
</h3>

<% @friendship_request.each do |request| %>
  <li>
    <%= request.first_name %>
    <%= link_to('Accept Request', friendship_path(request.friendships.find_by(friend_id: 1).id), :method=> :put) %>
  </li>
<% end %>