
<h3>
  You have <%= pluralize(@friendship_request.count, 'notification') %>
</h3>

<% @friendship_request.each do |request| %>
  <li>
    <%= request.first_name %>
    <%= link_to 'add friend', friendship_path(request), :method=> :put %>
  </li>
<% end %>