$main-color: #0FB9B1;
$alt-main-color: rgba(15, 185, 176, 0.20);
$second-color: #94CEF6;
$dark-color: #273544;
$alt-dark-color: #A5B1C2;
$light-color: #ECECEC;
$white-color: #fff;
$font-family: Montserrat, sans-serif;