<h1>Posts: </h1>


<section>

  <% @posts.each do |post| %>
    <article>
      <p>
        <%= post.content %>
      </p>
      <span>
        By: <%= post.user.first_name %>
      </span>
    </article>
  <% end %>

</section>