<div class="container">

  <section class="item">


    <div class="feed">
      <% @feed.each do |post| %>
  
      <%= link_to post_path(post), class: 'card-link' do %>
        <article class="card">
          <span class="card-author">
            <%= post.user.first_name %>
          </span>
          <p class="paragraph">
            <%= post.content%>
          </p>
        </article>
      <% end %>
    <% end %>
    </div>
    
  
  </section>
</div>
